@import "~bootstrap/scss/bootstrap";

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: $white;
  background: $primary;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.messageList {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background: white;

  & ul {
    box-sizing: border-box;
    padding: 0 0 0 6px;
    margin: 0;
  }
}

.message {
  list-style: none;
  margin: 15px 0;
}

.message div:nth-child(1) {
  font-size: 11px;
  color: black;
  opacity: 0.9;
  margin-bottom: 6px;
}

.message div:nth-child(2) {
  background: $primary;
  color: $white;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.sendMessageForm {
  display: flex;
  box-sizing: border-box;
  height: 60px;
  margin-top: 7px;
}

.sendMessageForm input {
  width: 100%;
  padding: 15px 10px;
  border-color: $primary;
  margin: 0;
  font-weight: 200;
}

.sendMessageForm input:focus {
  outline-width: 0;
}