@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
    url('./fonts/roboto-v19-latin_cyrillic-300.woff2') format('woff2'),
    url('./fonts/roboto-v19-latin_cyrillic-300.woff') format('woff'),
    url('./fonts/roboto-v19-latin_cyrillic-300.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/roboto-v19-latin_cyrillic-regular.woff2') format('woff2'),
    url('./fonts/roboto-v19-latin_cyrillic-regular.woff') format('woff'),
    url('./fonts/roboto-v19-latin_cyrillic-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./fonts/roboto-v19-latin_cyrillic-500.woff2') format('woff2'),
    url('./fonts/roboto-v19-latin_cyrillic-500.woff') format('woff'),
    url('./fonts/roboto-v19-latin_cyrillic-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./fonts/roboto-v19-latin_cyrillic-700.woff2') format('woff2'),
    url('./fonts/roboto-v19-latin_cyrillic-700.woff') format('woff'),
    url('./fonts/roboto-v19-latin_cyrillic-700.ttf') format('truetype');
}
