@import "~bootstrap/scss/bootstrap";

#root {
  height: 100%;
  min-height: 100%;

  .navbar {

    a {
      color: white;

      &:hover {
        color: cornflowerblue;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  min-height: 100%;
  height: 100%;
}

.layout {
  flex: 1 0 auto;
  
  margin-top: 60px;
  margin-bottom: 60px;
  
  &-header {
    position: fixed;
    margin-right: 0;
    margin-left: -15px;
    top: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    //background-color: #f5f5f5;
    flex-shrink: unset;
  }

  &-footer {
    position: fixed;
    margin-right: 0;
    margin-left: -15px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    //background-color: #f5f5f5;
    flex-shrink: unset;
  }
}

.ag-scrolls {
  height: auto !important;
}

.ag-body {
  position: relative !important;
  top: auto !important;
  height: auto !important;
}

.ag-header {
  position: relative !important;
}

.ag-floating-top {
  position: relative !important;
  top: auto !important;
}

.ag-floating-bottom {
  position: relative !important;
  top: auto !important;
}

.ag-bl-normal-east,
.ag-bl-normal,
.ag-bl-normal-center,
.ag-bl-normal-center-row,
.ag-bl-full-height,
.ag-bl-full-height-center,
.ag-pinned-left-cols-viewport,
.ag-pinned-right-cols-viewport,
.ag-body-viewport-wrapper,
.ag-body-viewport {
  height: auto !important;
}